body{
    margin:0px;
}

header {
    background-color: #5a5959;
    padding: 16px;
    margin-bottom: 22px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 22px;
}

img.imageadd, img.home {
    height: 44px;
}

img:hover, img.imageadd:hover{
    opacity:0.4;
}

a.link {
    color:black;
}

a.link:hover{
    color: #167a98;;

}

.choosecat {
    width: 100%;
} 

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grouprecherche {
    display: flex;
    height: 80px;
    align-items: center;
}

.recherche {
    margin: 16px;
}

.headersearch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headersearch2 {
    display: flex;
    justify-content: center;
}

h3.h3headersearch2 {
    text-align: center;
}


.div1 {
    padding: 16px;
    /*border-radius: 16px;*/
    background-color: #4a908c52;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    border: 1px solid black;
    width: 16%;
    justify-content: center;
}

.div2 {
    padding: 16px;
    /*border-radius: 16px;*/
    background-color: #4a908c52;
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    height: 50px;
    align-items: center;
}

.bodydiv2 {
    display: flex;
    justify-content: center;
}

.div3 {
    padding: 16px;
    /*border-radius: 16px;*/
    background-color:#4a908c52;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    border: 1px solid black;
    width:400px;
    height:400px;
    justify-content: center;
    justify-content: space-between;
}

.div4 {
    padding: 16px;
    /*border-radius: 16px;*/
    background-color: #4a908c52;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    border: 1px solid black;
    width:400px;
    height:400px;
    justify-content: center;
}


.duodiv3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
}

a.newcategory {
    margin-bottom: 170px;
}

form.formulaire{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    padding: 16px;
    margin: 22px;
    align-items: center;
    /*height: 20vh;
    width: 50vh;*/
    justify-content: space-around;
}

input.inputform {
    width: 40vh;
    border-radius: 16px;
    margin-bottom: 22px;
}

form.formulaire2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    margin-top: 200px;
    padding: 16px;
}

input[type="button"]{
    background-color: white;
}

.formbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.modifybutton {
    margin-top: 16px;
}